
<table width="100%" class="table border">
  <tr>
    <th>No.</th>
    <th>Id</th>
    <th>Title</th>
    <th>Body</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let post of posts | titleFilter:searchQuery;">
    <th scope="row">{{post.userId}}</th>
    <td>{{post.id}}</td>
    <td>{{post.title}}</td>
    <td>{{post.body}}</td>
    <td>
      <div class="d-flex">
        <button class="btn btn-danger btn-sm ml-auto" (click)="deletePost(post.id)"><i class="fas fa-trash"></i></button>
      </div>
    </td>
  </tr>

</table>

